<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container-fluid">
          <main class="center">
            <h1>url shortener</h1>
            <p>url to shorten:</p>
            <form id="url" class="form-inline" action="/urls" method="post">
              <div class="row shorten">
                <input class="col-md-8 input-lg no-radius black-border" id="enabledInput" type="text" name="long_url" placeholder="URL" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="left" data-content="Please enter a valid URL">
                <input id="timeZone" type="hidden" value="" name="timeZone"/>
                <script>(function(){
                  var d = new Date();
                  var n = d.getTimezoneOffset();
                  document.getElementById('timeZone').value = "" + n;
                })();</script>
                <button class="btn btn-primary col-xs-2 btn-lg no-radius black-bg" type="submit">shorten</button>
              </div>
            </form>
            <br><br>
            <h2>shortened urls:</h2>
            <% if Url.count > 0 %>
            <table class="table table-hover">
              <tr>
                <th>original url</th>
                <th>shortened url</th>
                <th class="click_count-align-center">clicks</th>
                <th>created at</th>
              </tr>
                <% Url.order(id: :desc).each do |url| %>
                  <tr>
                  <div class="urls">
                    <td> <%= url.long_url %> </td>
                    <td> <a class="link" id="<%= url.short_url %>" href="http://localhost:9393/<%=url.short_url%>" target="_blank"> localhost:4567/<%= url.short_url %></a></td>
                  </div>
                  <td short-url="<%= url.short_url %>" class="click_count-align-center"> <%= url.click_count %> </td>
                  <td class="time"> <%= url.created_at %> </td>
                  </tr>
                <% end %>
            </table>
            <% end %>

            <script>(function(){
              var elements = document.getElementsByClassName('time');
              var d = new Date();
              var n = d.getTimezoneOffset();
              // debugger;
              for(var i = 0; i < elements.length ; i++){
                var time = elements[i].textContent;

                var date = new Date(time);
                elements[i].textContent  = date.toString()
              }

            })();</script>
          </main>
        </div>
    </body>
</html>
