<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>url.s</title>
    </head>
    <body>
      <div id="cred">
        <p>created by <a href="http://inniss.co" target="_blank">bradley inniss</a></p>
      </div>
          <main class="center">
            <h1>url shortener</h1>
            <p>url to shorten:</p>
            <form id="url" class="form-inline" action="/urls" method="post">
              <div class="row shorten">
                <input class="input-lg no-radius black-border" id="enabledInput" autocomplete="off" type="text" name="long_url" placeholder="http://example.com" data-container="body" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="Please enter a valid URL">
                <input id="timeZone" type="hidden" value="" name="timeZone"/>
                <script>(function(){
                  var d = new Date();
                  var n = d.getTimezoneOffset();
                  document.getElementById('timeZone').value = "" + n;
                })();</script>
                <button id="shorten-button" class="btn btn-primary btn-lg no-radius black-bg" type="submit">shorten</button>
              </div>
            </form>
            <br><br>
            <h2>shortened urls:</h2>
            <% if Url.count > 0 %>
            <table class="table table-hover">
              <tr>
                <th>original url</th>
                <th>shortened url</th>
                <th class="click_count-align-center">clicks</th>
                <th id="created_at">created at</th>
              </tr>
                <% Url.order(id: :desc).each do |url| %>
                  <tr>
                    <div class="urls">
                      <td> <%= url.long_url %> </td>
                      <td> <a class="link" id="<%= url.short_url %>" href="http://localhost:9393/<%=url.short_url%>" target="_blank"> localhost:4567/<%= url.short_url %></a></td>
                    </div>
                    <td short-url="<%= url.short_url %>" class="click_count-align-center"> <%= url.click_count %> </td>
                    <td class="time"> <%= url.created_at %> </td>
                  </tr>
                <% end %>
            </table>
            <% else %>
            <table class="table table-hover">
              <tbody>
                <tr id="temprow">
                  <th>original url</th>
                  <th>shortened url</th>
                  <th class="click_count-align-center">clicks</th>
                  <th id="created_at">created at</th>
                </tr>
                <tr style="display: none">
                  <td></td>
                  <td><a href=""></a></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <% end %>

            <script>(function(){
              var elements = document.getElementsByClassName('time');
              var d = new Date();
              var n = d.getTimezoneOffset();
              // debugger;
              for(var i = 0; i < elements.length ; i++){
                var time = elements[i].textContent;

                var date = new Date(time);
                elements[i].textContent  = date.toString()
              }

            })();</script>
          </main>
    </body>
</html>
